language: php
php:
  - '7.2'
  - '7.1'

install:
  - composer install --no-interaction

notifications:
  email:
    recipients:
      - dean@g3d-development.com
    on_success: never # default: change
    on_failure: always # default: always

script:
  - vendor/bin/phpunit --coverage-clover clover.xml
after_success:
  - php vendor/bin/php-coveralls -v
